
/* Selector universal */
*{
    padding: 0 auto;
    margin: 0 auto;
}

small{
    display: block; 
    margin-left: 3em;
    margin-top: 2%;
}

/* Selector de ID*/

#contenedor{
    width: 1200px;
    height: 1000px;

    background-color: rgb(193, 247, 67);
}

#encabezado{
    display: grid;
    height: 14%;
    background-color: rgba(108, 97, 212, 0.973);
    margin: 0;
    padding-top: 30px;
    color: white    ;

}

#menu{
    height: 4%;
    background-color: darkgray;
    margin: 0   ;
}

#contenido{
    height: 75%;
    width: 61%;
    background-color: darksalmon;
    margin: 0.5em;
    float: left;
}

#fueraSeccion{
    height: 75%;
    width: 36%;
    background-color: rgb(46, 12, 172);
    margin: 0.5em;
    float: right;
}

#pie{
    
    text-align: center;
    height: 5%;
    background-color: indigo;
    border-radius: 1em;
    color: white;
    margin-top:  0.5em;
}


/* Selector de clase*/

.texto{
    text-align: justify;
    font-family: tahoma;
    font-size: 12;
    margin-left: 15px;
    margin-right: 15px;
    padding-top: 10px;
}

.encabezado_articulo{
    text-align: center;
    background: #333;
    color: white;
    margin: 0;


}

.encabezado_side{
    text-align: center;
    background: rgb(168, 7, 7);
    color: white;
    margin: 0;
}


.imagenes{
    display: block;
    border: 1px solid #ddd;
    margin-left: 4%;
    margin-top: 1%;
    border-radius: 4px;
    width: 150px;
    

}

.sideImg{
    display: center;
    border: 1px solid #ddd;
    border-radius: 4px;
    width: 300px;
    height: 150x;
    margin-top: 2%;
}

.txtSide{
    text-align: justify;
    font-family: tahoma;
    font-size: 12;
    margin-left: 15px;
    margin-right: 15px;
    padding-top: 10px;
    color: white;
}

ul{
    padding-top: 0.5em;
    text-align: center;
}

li{
    display: inline;
    
    padding-left: 2em;
    padding-right: 2em;
    text-align: center;
}
